@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik+Lines&family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik+Lines&family=Rubik+Maps&display=swap');

header {
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 1rem 2rem;
    border-left: none;
    border-right: none;
}

.title {
    font-family: 'Rubik Lines', sans-serif;
}