
section {
    margin: 0 auto;
    display: grid;
    place-items: center;
    gap: 20px;
}

.center {
    text-align: center;
    min-width: 200px;
    max-width: 600px;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #1d1d1d;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c2c2c;
    padding: 1em;
}

li, h2, p{
    color: white;
}
